body {
    font-family: Arial, sans-serif;
}

table.calendar {
    border-collapse: collapse;
    margin: 40px auto;
    text-align: center;
    width: 420px;
    font-size: 18px;
}

table.calendar td,
table.calendar th {
    border: 1px solid #555;
    padding: 8px;
    align-items: center;
    justify-content: center;
}

.month-header th {
    background: rgb(170, 170, 200);
    font-size: 24px;
    padding: 10px;
}

.day-header th {
    background: rgb(35, 37, 70);
    color: rgb(200, 190, 240);
}

.prev-month,
.next-month {
    color: gray;
}

tbody tr td:first-child,
tbody tr td:last-child {
    background: rgb(255, 220, 220);
}

.holiday {
    background: rgb(250, 120, 120);
}