body{
    width: 95%;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    width: 100%;
    height: 200px;
    background-image: url(../Images_9/bgsky3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkblue;
    position: relative;
}

.top h1{
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

.top h2{
    font-size: 240%;
    font-weight: bold;
    margin: 0;
    padding-top: 30px;
}

.top-foto{
    position: absolute;
    right: 250px;
    bottom: 60px;
    z-index: 10;
}

.main{
    width: 75%;
    margin-left: 10px;


}